# common
.idea
.vscode
*swp
__pycache__
*pyc
.DS_Store
private
*.npy
*.wav
*.mp3
tags
venv
gen
*.cxx
*.o
*.a
*.so
*.txt
!tools/requirements.txt
!docker/requirements.txt
*.list
*.log
*.raw
*.ark
*.scp
.gen
*.bin

# tmp
ckpt
mock

# docs
docs/_build

# layers
core/ops/cppjieba
core/ops/gen
core/ops/*.so
core/ops/BUILD

# tools related
tools/test/gen
tools/test/*.bin
tools/*.done
tools/espnet
tools/kaldi
tools/mecab
tools/moses
tools/nkf
tools/cppjieba
tools/abseil-cpp
tools/jsoncpp/
tools/googletest
tools/sentencepiece
tools/jsoncpp/
tools/mbedtls/
tools/yaml
tools/tensorflow
tools/.cache
tools/protobuf
tools/curl
tools/openssl
tools/jsoncpp
tools/mbedtls
tools/https_client
tools/go.env

# lint
cpplint.log
pylint.log



# egs
egs/*/*/origin_data
egs/*/*/*/origin_data
egs/*/*/data
egs/*/*/*/data
egs/*/*/exp
egs/*/*/*/exp
egs/*/*/res
egs/*/*/*/res

# dpl
*.tflite
*.pb
*.pbtxt
dpl/lib/*
dpl/test/*
dpl/input_model
!dpl/output_model/
dpl/output_model/*
!dpl/output_model/.gitkeep

#deltann serving
.bash_history
.viminfo

# inner egs
delta_inner

# setup
delta_nlp.egg-info/
wheelhouse
build
dist
py36venv

#
events*
*.gz