model_config_list:{
  config:{
    name:"dssm",
    base_path:"/models/dssm/",
    model_platform:"tensorflow",
  },

  config:{
    name:"fastext",
    base_path:"/models/fastext",
    model_platform:"tensorflow",
    model_version_policy {
      specific {
        versions: 0
      }
    }
  },
#
#  config:{
#    name:"bert",
#    base_path:"/models/multi_models/bert/pb",
#    model_platform:"tensorflow",
#  }
}
